* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
}
.left-session {
background-color:  rgb(98%,75%,25%);
height: 200vh;
width: 30vw;
display: flex;
flex-direction:  column;
align-items:  center;
}
.left-session img {
    padding: 2rem 0rem;
}
.left-session h1 {
    font-size: 2rem;
    padding: 0rem 0rem 2rem 0rem;
}
.left-session ul li {
    list-style-type: none;
       text-align: center;
       padding:  0rem 0rem 1rem 0rem;
}
.left-session ul li a {
    text-decoration: none;
    color: black;
}
.right-session {
  margin: 2rem 3rem 0rem 3rem;
}
.div1 h1 {
    font-size: 2rem;
    margin: 0rem 0rem 1rem 0rem;
}
.div1 p {
    font-size: 18px;
}
.div2 h2 {
    margin: 2rem 0rem 1rem 0rem;
}
.div2 ul li {
    list-style-type: none;
    margin: 0rem 0rem 0rem 0.3rem;
    font-size: 18px;
    padding: 0.5rem;
}
.div3 h2 {
    margin: 1rem 0rem 1rem 0rem;
}
.projects {
   background-color: rgb(98%,75%,25%);
   border-radius: 5px;
   height: 100vh;
   position: relative;
}
.projects .dropbtn {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:  rgb(98%,75%,25%);
    color: black;
    margin: 2rem 0rem 1rem 2rem;
}
.dropbtn:focus {
    color: rgb(71%, 23%, 30%);
}
.dropdown {
    display: flex;
}
.dropdown img {
    margin: 1rem 0rem 1rem 3rem;
}
.dropdown p {
    margin: 1.2rem 0rem 0rem 1rem;
}
.dropdown-content {
    display: none;
    overflow: auto;
}
.show {display: contents;}